
/* Estilos para o container da lista de receitas */
.income-list-container {
  max-width: 400px; /* Define uma largura máxima para o conteúdo */
  padding: 20px; /* Adiciona um preenchimento interno ao redor do conteúdo */
  border: 1px solid #ccc; /* Adiciona uma borda ao redor do conteúdo com cor cinza */
  border-radius: 8px; /* Arredonda os cantos da borda */
  background-color:  rgb(173, 230, 216); /* Define a cor de fundo do container */
  margin: 10px; /* Define uma margem ao redor do container */
}
